/* Body */
body {
    width: 70%;
    height: auto;
    margin: auto;
    box-shadow: 0px 5px 10px #0000006e;
    background-color: whitesmoke;
}

/* Header*/
.header {
    height: 32px;
    background-color: wheat;
}
.header p {
    text-align: center;
    font-size: 30px;
}

/* Content */
.content {
    padding: 20px;
    background-color: white;
}
.content .profile {
    width: 100px;
    height: 150px;
    background-color: wheat;
}
.content p {
    font-size: 16px;
}
.content h2 {
    font-size: 16px;
    font-weight: bold;
}